In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
data=pd.read_csv('Titanic-Dataset.csv')

In [8]:
print(data.columns)
data.isnull().sum()

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [9]:
#cleaning our data frame
def proprecess (new_data):
  new_data["Age"] = new_data["Age"].fillna(new_data["Age"].mean())
  new_data["Sex"] = new_data["Sex"].replace({"male":1,"female":0})
  new_data["Cabin"] = new_data["Cabin"].fillna('S') # Corrected column name to 'Cabin'
  new_data["Embarked"] = new_data["Embarked"].fillna('S')


  return new_data
#test this function
data_1=proprecess(data)
data_1.head(2)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_27080\125558525.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  new_data["Sex"] = new_data["Sex"].replace({"male":1,"female":0})

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,S,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,C